body{
    font-family: cursive;
    font-size: 20px;
    color: #818181;
}
.menu .item{
    float: left;
    list-style: none;
    margin-left: 55px;
    list-style: none;
    margin-right: 23px;
    position: relative;
}
.submenu{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #f2eee5;
    top: 18px;
    left: 0;
    display: none;
}
.active .submenu {
    display: block;
}
.menu{
    margin-top: 85px;
}
.logo{
    margin-top: -30px;
}