*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    font-family: cursive;
    text-align: center;
}
.title{
    background-color: #e6e2d9;
    padding: 62px;
}
.main{
    background-color: #f2eee5;
}
.img1{
    width: 377px;
    height: 401px;
    margin-top: 52px;
    border-radius: 15px;
}
#adjust{
    margin-bottom:20px;
}
#paw{
    margin-left: 20px;
}
h4{
    color: white;
    margin-top:-19px;
    margin-left:235px;
}
