*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    font-family: 'cursive';
}
.container{
    height: 679px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://i.pinimg.com/564x/5c/9d/e9/5c9de95620302eecbfe5e5dc0ab35b22.jpg");
}
.form{
    background-color: whitesmoke;
    padding: 50px;
    margin-top: 181px;
    margin-left: -101px;
    border-radius: 20px;
}
.logo{
    width: 100px;
    height: 100px;
    margin-top: -98px;
    border-radius: 60px;
    padding: 18px;
    background-color: #ffffff;
}
.title{
   text-align: center;
    padding: 60px;
}
.services{
    background-color: #f2eee5;
    height: 600px;
    padding: 25px;
}
.sr3{
    border-bottom:1px dashed;
    text-align: center;
}
.img3{
    width: 200px;
    height: 200px;
    border-radius: 115px;
}
a{
    padding: 96px;
}
.img4{
    position: absolute;
    width:100%;
}
.ad6{
    margin-bottom: 32px;
    padding: 139px;
    background-color: rgba(97,136,41,.9);
    z-index: 8;
    height: 633px;
}
.box{
    color:white;
    margin-top:89px;
}
p1{
    padding: 19px;
    border: 2px solid;
    border-radius: 5px;
    margin-left: -75px;
    text-align: center;
}
p2{
    border: 2px solid;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 53px;
    padding: 19px;
}
.img5{
    width: 200px;
    height: 200px;
    border-radius: 112px;
    margin-top: 72px;
    margin-left:-21px;
    margin-right: 3px;
}
.object{
    padding: 277px;
    margin-bottom: -10px;
    margin-top: -213px;
    background-color: #f2eee5;
    text-align: center;
}
h2{
    margin-top: -61px;
    text-align: center;
}
p3{
    padding: 68px;
}
.img6{
    width:200px;
    height:200px;
    border-radius: 114px;
    margin-top: 90px;
    margin-left: 54px;
}
.freeme{
    background-color: #4b1c0e;
    margin-top: -112px;
}
#img-left{
    margin-left: 24px;
    margin-top: 49px;
    margin-bottom: 48px;
}
#map{
    color: red;
}
.right .clock{
  color: red;
}
.freeme-cl6{
    background-color:#4b1c0e;
    color: white;
    margin-top: 52px;
    margin-left: 81px;
}
#btn-primary{
    padding: 20px;
    width: 40%;
    margin-left: 50px;
    margin-top: 125px;
}
#btn-success{
    padding: 20px;
    width: 40%;
    margin-top: 125px;
}
.fr2{
    color: white;
}
.container{
    text-align: center;
}
.choose{
    margin-top: 18px;
}
.donate{
    border: 1px solid;
    padding: 21px;
    margin-top: 69px;
    margin-bottom: 7px;
    margin-right:399px;
    border-radius: 6px;
    background-color: #6dab3c;
}
.share{
    padding: 21px;
    border: 1px solid;
    margin-top: -72px;
    margin-left: 300px;
    margin-right: 104px;
    border-radius: 6px;
    background-color: #008bd3;
}
#protect-dog{
    color: #4b1c0e;
    margin-top: -40px;
    margin-left: 100px;
}
.fr2{
    background-color: #4b1c0e;
}
.top-ct{
    margin-left: 153px;
    margin-top: 106px;
}
.left{
    margin-left: 188px;
    margin-top: 85px;
}
.right{
    margin-top: -92px;
    margin-left: 513px;
}
.img7 {
    width: 345px;
    height: 256px;
    border-radius: 19px;
}
.contact{
    background-color: #f2eee5;
    height: 1170px;
}
#ct{
    margin-left: 181px;
    margin-top: 30px;
}
#ct-h4{
    color: #40bdc8;
    margin-top: -26px;
    margin-left: 260px;
}
.text{
    margin-top: -196px;
    margin-left: 132px;
    color: white;
}
#join{
    margin-top: 46px;
    margin-left: 21px;
}
.final{
    margin-top: 219px;
    padding: 32px;
}
.object-name{
    margin-top: 98px;
}
#our-services-h1{
    color: #40bdc8;
}
h4{
    color: #4b1c0e;
}
p{
    color: #968784;
}
a{
    color: #4dbfc8;
}
#favour{
    color: #f2eee5;
}
#ad-h1{
    color: #e3b517;
}
#whom-h2{
    color: #aa3838;
}
#ct-h2{
    text-align: center;
    color: #4b1c0e;
}



