*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    font-family: cursive;
}
.iwc .img1{
    padding: 20px;
    margin-bottom: 76px;
   margin-left: 462px;
}
.iwc .image7{
    width: 325px;
    height: 316px;
}
.iwc .title{
    background-color: #e6e2d9;
    padding: 112px;
    text-align: center;
}
.iwc h1{
    text-align: center;
}
.iwc .type1{
    margin-top: 126px;
    margin-bottom: 103px;
}
.iwc .type2{
    margin-top: 177px;
    margin-bottom: 103px;
}
.iwc .type3{
    margin-top: 126px;
    margin-bottom: 103px;
}
.iwc .type4{
    margin-top: 126px;
    margin-bottom: 103px;
}
.iwc .type5{
    margin-top: 126px;
    margin-bottom: 103px;
}
.iwc .type6{
    margin-top: 126px;
    margin-bottom: 103px;
}
.iwc .type7{
    margin-top: 206px;
    margin-bottom: 103px;
}
.iwc .type8{
    margin-top: 126px;
    margin-bottom: 103px;
}
.iwc .type9{
    margin-top: 126px;
    margin-bottom: 103px;
}
.iwc .main{
    background-color: #f2eee5;
}
.iwc .tp1{
    padding: 20px;
}
.iwc .item{
    background-color: #000000;
    color: white;
}
.iwc .img2{
    width: 252px;
}
.iwc .info{
    padding: 15px;
}
.iwc .img3{
    width: 262px;
    height: 194px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}
.iwc .produce{
    background-color: white;
    border-radius: 15px;
}
.iwc .text1{
    padding: 25px;
    margin-top: -270px;
    color: white;
}
.iwc .text{
    padding: 25px;
}
.iwc .icon{
    background-color: #2aabd2;
    width: 50px;
    height: 50px;
    border-radius: 37px;
}
.iwc .img4{
    width: 261px;
}
.iwc .click{
    border: 1px solid #8c8c8c;
    background-color: #f2eee5;
    border-top: 3px solid #8c8c8c;
}
.iwc .content{
    padding: 27px;
}
.iwc .img5{
    border: 4px solid #8c8c8c;
    border-radius: 15px;
    width: 262px;
    margin-bottom: 20px;
}
.iwc .tp5-h4{
    border-radius: 12px;
    background-color: white;
    padding: 9px;
}
.iwc .img6{
    width: 300px;
    height: 300px;
}
.iwc .caption8{
    margin-top: 137px;
}
.iwc .img7{
    width: 294px;
    height: 316px;
}
.iwc .emerge{
    margin-top: -128px;
    color: white;
    text-align: center;
}
#fade1{
    background-color: mediumpurple;
}
#fade2{
    background-color:#2e6da4 ;
}
#fade3{
    background-color:#3e8f3e;
}
#fade4{
    background-color: #eea236;
}
.iwc .img8{
    width: 358px;
    height: 400px;
}
.iwc .spot{
    background-color: #e6e2d9;
}
.iwc .caption7{
    padding: 20px;
}
.iwc .phone{
    margin-top: -196px;
    margin-left: 132px;
    color: white;
}
.iwc .final{
    margin-top:  -59px;
    padding: 32px;
}
.iwc .img9 {
    width: 345px;
    height: 256px;
    border-radius: 19px;
    color: white;
}
#adjust{
    margin-bottom:20px;
    margin-top: 108px;
}
#footer{
    color: white;
}
#paw1{
    margin-left: 20px;
}
#paw2{
    margin-left: 20px;
}
#fl1{
    width: 380px;
    height: 380px;

}
#fl2{
    width: 380px;
    height: 380px; ;
}
#fl3{
    width: 380px;
    height: 380px; ;
}
.iwc h1{
    font-size: 40px;
    font-family: cursive;
    font-weight: 900;
    color: #8e6e63;
}
.iwc h3{
    color: #4b1c0e;
    font-size: 25px;
    font-family: cursive;
    font-weight: 900;
}
.iwc .change5{
    color: white;
    font-size: 25px;
    font-family: cursive;
    font-weight: 900;
}