*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2eee5;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    font-family: cursive;
}
.news h3{
    color: #643918;
    font-size: 22px;
    font-family: cursive;
    font-weight: 900;
}
.news .changeblock{
    margin-top: -670px;
    background-color: white;
    text-align: center;
}
.news .top{
    background-color: #e6e2d9;
    padding: 62px;
    text-align: center;
    margin-left: -70px;
}
#footer{
    color: white;
}
.news .item{
    background-color: #f2eee5;
}
.news .img1{
    width:522px;
    height: 400px;
}
.news .video{
    width:522px;
    height: 400px;
}
.news .block{
    background-color: white;
    text-align: center;
    margin-bottom: 40px;
}
.news .main{
    background-color: #f2eee5;
    padding: 95px;
}
.news .text{
    padding: 30px;
}
#adjust{
    color: #643918;
    font-size: 25px;
    font-family: cursive;
    font-weight: 900;
    margin-top: 108px;
    padding: 68px;
    margin-bottom: -43px;
}
.news .paw{
    margin-left: 20px;
}