*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2eee5;
    font-size: 16px;
    line-height: 1.25;
}
#adjust{
    margin-bottom: 20px;
    color: #4b1c0e;
    font-size: 25px;
    font-family: cursive;
    font-weight: 900;
    margin-top:112px;
}
#footer{
    color: white;
}
.pet_detail .change1{
    color: #4b1c0e;
    font-size: 25px;
    font-family: cursive;
    font-weight: 900;
}
.pet_detail .change2{
    color: #4b1c0e;
    font-size: 20px;
    font-family: cursive;
    font-weight: 900;
}
.pet_detail .paw{
    margin-left: 20px;
}
#list{
    background-color: white;
    border-radius: 20px;
    padding: 7px;
    margin-right: 400px;
}
.pet_detail h2{
    color: #4b1c0e;
}
.pet_detail h3{
    color: #4b1c0e;
}
.pet_detail .title{
    background-color: #e6e2d9;
    padding: 112px;
    text-align: center;
}
.pet_detail .main {
    background-color: #f2eee5;
    padding: 20px;
}
.pet_detail .img1{
    max-width:100%;
    height:846px;
}
.pet_detail .img2{
    width:150px;
    height: 150px;
}
.pet_detail .links{
    margin-top: 65px;
    margin-left: 166px;
}
#img3{
    margin-top: 40px;
    margin-left: 30px;
}
.pet_detail .text-intro{
    margin-left: 140px;
}
.pet_detail .adopt{
    margin-top: 71px;
}
#img4{
    margin-top: 34px;
    width: 390px;
    border-radius: 21px;
    box-sizing: border-box;
}
#img5{
    width: 250px;
    height: 250px;
    border-radius: 140px;
    margin-left: 61px;
    margin-top: 75px;
}
.pet_detail .button{
    text-align: center;
    margin-top: 35px;
}
.pet_detail .introduce{
    text-align: center;
}
.pet_detail .about{
    margin-top: 93px;
    margin-bottom: 84px;
}
.pet_detail .know-more{
    padding: 23px;
}
.pet_detail .ab1{
    margin-left: -20px;
    margin-right: 80px;
}
.pet_detail .method{
    background-color: white;
    border-radius: 18px;
    padding: 53px;
    margin-left: -16px;
    margin-right: -35px;
    margin-top: 47px;
}
.pet_detail .info-reenie{
    background-color: #40bdc8;
    color: white;
    padding: 45px;
    margin-left: -88px;
    margin-right: -25px;
    border-radius: 10px;
}
.pet_detail .contact{
    padding: 33px;
}
.pet_detail .fa-map-marker-alt{
   color: orangered;
}
.pet_detail .mydiv{
    list-style-type: none;
}
.pet_detail .button-sc{
    padding: 28px;
    width: 24%;
    margin-left: -160px;
    margin-right: 42px;
}
.pet_detail .button-wn{
    padding: 28px;
    width: 24%;
}
#new-home{
    margin-top:50px;
    color: #4b1c0e;
    font-size: 20px;
    font-family: cursive;
    font-weight: 900;
}
.pet_detail .change3{
    color: white;
    font-size: 18px;
    font-family: cursive;
    font-weight: 900;
}
.pet_detail p{
    color: #818181;
}
.pet_detail .change4{
    color: #4b1c0e;
    font-size: 17px;
    font-family: cursive;
    font-weight: 900;
}
#age{
    color: #5f2c25;
    font-size: 16px;
    font-family: cursive;
    font-weight: 900;
}
