*{
    list-style: none;
}
body {
    background-color: #f2eee5;
}

.testimonials .nav-contenttop2{
    margin-top:-90px;
    margin-right:350px;
    float: right;
}
.testimonials .fa-paw{
    font-size: 18px;
}

.testimonials .topsever{
    width: 100%;
    height: 380px;
    background-color: rgba(0,0,0,.05);
    padding-top: 175px;
}
.testimonials .topsever h1 {
    padding-top: 85px;
    padding-bottom: 30px;
    margin-bottom: 15px;
    margin-top: -35px;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}
.testimonials .t{
    text-align: center;
    margin-top: -13px;
}
.testimonials .type{
    width: 100%;
    height: 2450px;
}
.testimonials .anh{
    text-align: center;
    padding-bottom: 85px;
}
.testimonials .top21{
    margin-top:60px;
}
.testimonials .change2{
    margin-top:125px;
    margin-left:30px;
}
.testimonials .change2 h2{
    text-align: center;
    font-size: 45px;
    color: #8e6e63;
    line-height: 45px;
    font-family: "Comic Sans MS";
    font-style: normal;
}
.testimonials .anh1{
    text-align: center;
}
#footer{
    color: white;
}
.testimonials .empty{
    padding: 60px;
}
.testimonials .anh1 img{
    border-radius: 50px;
}
.testimonials .icon{
    text-align: center;
}
.testimonials .top21 h2{
    text-align: center;
    font-size: 45px;
    color: #8e6e63;
    line-height: 45px;
    font-family: "Comic Sans MS";
    font-style: normal;
}
.testimonials .vanban p{
    margin-left: 25%;
    margin-right: 15%;
}
.testimonials .vanban{
    font-size: 16px;
    line-height: 30px;
    display: inline-block;
    font-style: italic;
    font-family: Cabin, sans-serif;
    margin-bottom: 10px;
    color: #818181;
    text-align: center;
}
.testimonials .vanban1 p{
    width: 92%;
    line-height: 30px;
    text-align: center;
    font-family: Cabin, sans-serif;
    font-size: 20px;
    color: #818181;
    padding-left: 8%;
    padding-bottom: 3%;
}
.testimonials .anh2{
    width: 90%;
    height: 150px;
    padding-left: 6%;
}
.testimonials .fa-quote-left{
    font-size: 30px;
    color: #818181;
    margin-left: 2%;
}
.testimonials .anh2 img{
    border-radius: 50px;
}
.testimonials .us{
    width: 60%;
    height: 1px;
    background-color: #c0c0c0;
    margin-top: 9%;
    margin-left: 20%;
}
.testimonials .anh3 img{
    border-radius: 50px;
    margin-left: 47%;
    margin-top: -50px;
}
.testimonials .dis{
    padding-top: 1%;
    padding-left: 42%;
    font-family: cursive;
}
.testimonials .vanban2{
    width: 40%;
    padding-top: 1%;
    margin-left: 30%;
    text-align: center;
    padding-bottom: 1%;
}
.testimonials .vanban2 i{
    font-size: 20px;
    font-weight: 900;
}
.testimonials .lon{
    width: 90%;
    height: 210px;
    margin-left: 5%;
}
.testimonials .top22{
    width: 50%;
    height: 200px;
    float: left;
}
.testimonials .lon p{
    line-height: 30px;
    width: 67%;
    margin-left: 25%;
    margin-top: -110px;
    font-family: cursive;
    font-size: 15px;
}
.testimonials .top22 img{
    border-radius: 50px;
    margin-left: 5%;
}
.testimonials .top22 h4{
    margin-left: 62%;
    padding-top: 5%;
}
.testimonials .lon1{
    width: 100%;
    height: 210px;
    margin-left: 6%;
}
.testimonials .top23{
    width: 40%;
    height: 200px;
    float: left;
    border-bottom: 1px solid #c0c0c0;
    padding-top: 5%;
    margin-left: 3%;
}
.testimonials .lon1 p{
    width: 100%;
    line-height: 30px;
    font-family: cursive;
    font-size: 15px;
    color: #818181;

}
.testimonials .lon2{
    width: 100%;
    height: 210px;
    margin-left: 6%;
}
.testimonials .top24{
    width: 40%;
    height: 125px;
    padding-top: 1%;
    margin-left: 3%;
    float: left;
}
.testimonials .top24 img{
    border-radius: 50px;
}
.testimonials .top241{
    width: 20%;
    float: left;
}
.testimonials .mid{
    width: 100%;
    height: 800px;
}
.testimonials .midq{
    text-align: center;
}
.testimonials .midq p{
    width: 65%;
    line-height: 30px;
    padding-top: 3%;
    margin-left: 17.5%;
    font-size: 14px;
    font-style: oblique;
    color: #818181;
    padding-bottom: 1%;
}
.testimonials .midq small{
    font-size: 14px;
}